<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lican.community.mapper.DiscussPostMapper">

    <resultMap id="DisscussPost" type="com.lican.community.entity.DiscussPostEntity">
        <!--id指定主键列的封装规则,return指定普通列的封装规则
        column:数据库列名
        property:对应的javabean属性
        -->
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="comment_count" property="commentCount"/>
        <result column="score" property="score"/>
    </resultMap>

    <sql id="DisscussFields">
        id, user_id, title, content, type, status, create_time, update_time, comment_count, score
    </sql>

    <sql id="InsertDisscussFields">
        user_id, title, content, type, status, create_time, update_time, comment_count, score
    </sql>


    <insert id="insertDiscussPost" keyProperty="id">
        insert into discuss_post(<include refid="InsertDisscussFields"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{updateTime},#{commentCount},#{score})

    </insert>


    <update id="updateCommentCount">
        update discuss_post set comment_count = #{commentCount}
        where id = #{id}
    </update>
    <select id="selectDiscussPosts" resultMap="DisscussPost">
        select <include refid="DisscussFields"></include> from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="java.lang.Integer">
        select count(*) from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
    <select id="selectDiscussPostById" resultMap="DisscussPost">
        select <include refid="DisscussFields"></include>
        from discuss_post where id = #{id};
    </select>
</mapper>